<div class="new-password-entry">
  <mat-form-field class="input-field">
    <mat-label>Site Name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field class="input-field">
    <mat-label>Web URL</mat-label>
    <input matInput />
  </mat-form-field>
  <!-- <mat-form-field class="input-field">
    <mat-label>Hash Algorithm</mat-label>
    <select>
      <option>{{ hashAlgorithm.MD5 }}</option>
      <option>{{ hashAlgorithm.SHA1 }}</option>
      <option>{{ hashAlgorithm.SHA256 }}</option>
    </select>
  </mat-form-field> -->
  <mat-form-field class="input-field">
    <mat-label>Seed</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field class="input-field">
    <mat-label>PW Length</mat-label>
    <input matInput type="number" min="8" max="18" />
  </mat-form-field>
  <mat-form-field class="input-field">
    <mat-label>Comments</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>